.autofill-button {
    background-color: #FBF6FE;
    color: #9B47C7;
    border: 1px solid #9B47C7;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 266px;
}