#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* @radix-ui/react-dialog styles */
.DialogOverlay {
  background-color: transparent;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  color: black;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 15px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #333;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: #363B51;
  font-size: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.form-container>div {
  flex: 1;
}

@media (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }
}

.autofillContainer {
  margin: 30px
}

.dialog-buttons-container {
  display: flex;
  gap: 8px;
}

.dialog-form-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.dialog-form-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.dialog-form-container label input[type="checkbox"] {
  accent-color: #007BFF;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  background-color: #ccc;
}